
<form action="{% url 'razorpay_payment_callback' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" id="amount" name="amount" value="{{ amount }}">
    <input type="hidden" id="currency" name="currency" value="{{ currency }}">
    <input type="hidden" id="order_id" name="order_id" value="{{ order_id }}">
    
    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="{{ key }}"
        data-amount="{{ amount|floatformat:0 }}" 
        data-currency="{{ currency }}"
        data-order_id="{{ order_id }}"
        data-buttontext="Pay with Razorpay"
        data-name="Your Company Name"
        data-description="Payment for something"
        data-image="https://yourcompany.com/logo.png"
        data-prefill.name="Your Name"
        data-prefill.email="youremail@example.com"
        data-theme.color="#F37254">
    </script>
    <input type="hidden" custom="Hidden Element" name="hidden">
</form>
