<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.2/font/bootstrap-icons.min.css"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

    <style>
        .btn {
            cursor: pointer;
            transition: background-color 0.2s, color 0.2s;
        }

        .modal-dialog-centered-top {
            display: flex;
            align-items: flex-start;
            min-height: calc(100% - 1rem);
        }

        .modal-dialog-centered-top .modal-content {
            margin-top: 1rem;
        }
    </style>
</head>

<body>
    <nav class="bg-white-200 mb-3" style="background-color: #F8F8F8;">
        <div class="flex  items-center justify-between mx-[10px] border-b">
            <div class="flex items-center  nav-container text-[14px] text-[#777777] font-normal ">
                <div class="hidden md:flex space-x-2" id="nav">
                    <a href="admin_panel.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Users</a>
                    <a href="order.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Orders</a>
                    <a href="subscription.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Subscription</a>
                    <a href="task.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit"><span class="inline-block">
                            <p>Tasks <span
                                    style="border-radius: 15px; background-color: #F0AD4E; font-weight: 700; line-height: 1; color: white; padding: 2px 7px; font-size: 12px;">0</span>
                            </p>
                        </span></a>
                    <a href="service.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Services</a>
                    <a href="tickets.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit"><span class="inline-block">
                            <p>Tickets <span class="px-2 py-1"
                                    style="border-radius: 10px; padding: 2px 7px; color: white; background-color: #F0AD4E; font-weight: 700; font-size: 12px;">0</span>
                            </p>
                        </span></a>
                    <a href="report.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Reports</a>
                    <a href="affiliatepage.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Affiliates</a>
                    <a href="appearance.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Appearance</a>
                    <a href="Setting.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Settings</a>
                </div>
            </div>
            <div class="flex items-center gap-8 mr-[10px]">
                <a href="#" class="text-white-700 hover:text-white-900 bell-wrapper">
                    <i class="fas fa-bell"></i>
                    <span class="notification-dot"></span>
                </a>
                <a href="#" class="text-white-700 hover:text-white-900"><i class="fas fa-moon"
                        style="color: #6d6c6c;"></i></a>
                <div class="flex items-center">
                    <a href="#" class="icon-circle text-white-700 hover:text-white-900" style="color: #F8F8F8;">
                        <i class="bi bi-person relative top-0  text-gray-500 right-2 text-[#F8F8F8] bg-[#F8F8F8]"
                            style=" bottom: 12px; "></i>
                    </a>
                    <div class="dropdown">
                        <i class="fas fa-sort-down cursor-pointer text-black text-[12px]"
                            onclick="toggleDropdown()"></i>
                    </div>
                </div>
            </div>
    </nav>

    <div class="lg:w-[78%] flex mx-auto  gap-7 pt-2">
        <aside class="w-[18%] bg-white p-1 rounded-lg">
            <nav class="text-[14px] space-y-1">
                <a href="Setting.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">General</a>
                <a href="Provider.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">Providers</a>
                <a href="payment2.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">Payments</a>
                <a href="UserGroup.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">User
                    Groups</a>
                <a href="Currency.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">Currency</a>
                <a href="Notification.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">Notification</a>
                <a href="E-notification.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">E-Notification</a>
                <a href="Ticket.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">Tickets</a>
                <a href="Modules.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">Modules</a>
                <a href="Integration.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">Integration</a>
                <a href="SignupSetting.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-2 rounded">Signup
                    Settings</a>
            </nav>
        </aside>

        <div class="col-md-8 ms-2">
            <main class="p-4">
                <div class="table">
                    <h3 class="mt-4 mb-4 h5 fw-semibold">Active</h3>
                    <div class="">
                        <div class="flex justify-between border items-center bg-white-50 p-2">
                            <div class="col-9 flex justify-around">
                                <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                                <flex-row>
                                    <h3 class="text-lg font-medium">WhatsApp Button</h3>
                                    <p class="text-gray-600">Provide support to panel users via the WhatsApp app on mobile or desktop.</p>
                                </flex-row>
                            </div>
                            <div class="col-3">
                                <button class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Edit</button>
                            </div>
                        </div>
                    </div>

                    <h3 class="mt-4 mb-4 h5 fw-semibold">Others</h3>
                    <div>
                        <div class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">Beamer</h3>
                                <p class="text-gray-600">Announce updates and get feedback with an in-app notification
                                    center, widgets, and changelog.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">Google Tag manager</h3>
                                <p class="text-gray-600">Manage all your website tags without editing code using simple
                                    tag management solutions.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">Onesignal</h3>
                                <p class="text-gray-600">Leader in customer engagement, powering mobile push, web push,
                                    email, and in-app messages.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">Tawk.to</h3>
                                <p class="text-gray-600">Monitor and chat with the visitors on your website, mobile app,
                                    or from a free customizable page.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">AnnounceKit</h3>
                                <p class="text-gray-600">Announce your product updates and company news with
                                    notification widgets, email notifications, and feedback collection.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">Crisp</h3>
                                <p class="text-gray-600">The all-in-one multichannel messaging platform that connects
                                    companies and customers.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">Facebook Chat</h3>
                                <p class="text-gray-600">Support your customers with Facebook Messenger directly from
                                    your website.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">GetButton</h3>
                                <p class="text-gray-600">Takes website visitors directly to the messaging app on desktop
                                    or mobile.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">JivoChat</h3>
                                <p class="text-gray-600">An all-in-one business messenger to talk to customers via live
                                    chat, phone, email, and social media.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">Push Alert</h3>
                                <p class="text-gray-600">Increase reach, revenue, and re-target users with push
                                    notifications on desktop and mobile.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">Smartsupp</h3>
                                <p class="text-gray-600">A live chat, email inbox, and Facebook Messenger in one
                                    customer messaging platform.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">Tidio</h3>
                                <p class="text-gray-600">A communicator for businesses that keeps live chat, chatbots,
                                    Messenger, and email in one place.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">Zendesk Chat</h3>
                                <p class="text-gray-600">Helps quickly respond to customer inquiries, reduce wait times,
                                    and increase sales.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">Yeps.io</h3>
                                <p class="text-gray-600">A bar you can add to the top or bottom of your website to
                                    collect visitors' emails, promote content, and more.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">DMCA.com</h3>
                                <p class="text-gray-600">With a registered badge, you will have access to tools,
                                    resources, and support to swiftly takedown any website that steals your content.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>

                        <div
                            class="flex justify-between border items-center bg-white-50 p-2 max-w-6xl mx-auto">
                            <img src="icon.png" alt="Icon" class="w-12 h-12 me-4 rounded-circle border border-gray-200">
                            <div>
                                <h3 class="h5 fw-semibold">Google Search Console</h3>
                                <p class="text-gray-600">Use tools and reports to help measure your site's search
                                    traffic and performance, fix issues, and make your site shine in Google Search
                                    results.</p>
                            </div>
                            <button
                                class="border rounded-md text-sm px-3 py-1 bg-white text-black border-gray-300">Activate</button>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>
</body>

</html>