<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.2/font/bootstrap-icons.min.css"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.2/font/bootstrap-icons.min.css"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />

    <title>Provider Management</title>
</head>

<body>
    <nav class="bg-white-200 mb-3" style="background-color: #F8F8F8;">
        <div class="flex  items-center justify-between mx-[10px] border-b">
            <div class="flex items-center  nav-container text-[14px] text-[#777777] font-normal ">
                <div class="hidden md:flex space-x-2" id="nav">
                    <a href="admin_panel.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Users</a>
                    <a href="order.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Orders</a>
                    <a href="subscription.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Subscription</a>
                    <a href="task.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit"><span class="inline-block">
                            <p>Tasks <span
                                    style="border-radius: 15px; background-color: #F0AD4E; font-weight: 700; line-height: 1; color: white; padding: 2px 7px; font-size: 12px;">0</span>
                            </p>
                        </span></a>
                    <a href="service.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Services</a>
                    <a href="tickets.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit"><span class="inline-block">
                            <p>Tickets <span class="px-2 py-1"
                                    style="border-radius: 10px; padding: 2px 7px; color: white; background-color: #F0AD4E; font-weight: 700; font-size: 12px;">0</span>
                            </p>
                        </span></a>
                    <a href="report.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Reports</a>
                    <a href="affiliatepage.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Affiliates</a>
                    <a href="appearance.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Appearance</a>
                    <a href="Setting.html" class="hover:bg-[#E7E7E7] py-[15px] px-3 h-fit">Settings</a>
                </div>
            </div>
            <div class="flex items-center gap-8 mr-[10px]">
                <a href="#" class="text-white-700 hover:text-white-900 bell-wrapper">
                    <i class="fas fa-bell"></i>
                    <span class="notification-dot"></span>
                </a>
                <a href="#" class="text-white-700 hover:text-white-900"><i class="fas fa-moon"
                        style="color: #6d6c6c;"></i></a>
                <div class="flex items-center">
                    <a href="#" class="icon-circle text-white-700 hover:text-white-900" style="color: #F8F8F8;">
                        <i class="bi bi-person relative top-0  text-gray-500 right-2 text-[#F8F8F8] bg-[#F8F8F8]"
                            style=" bottom: 12px; "></i>
                    </a>
                    <div class="dropdown">
                        <i class="fas fa-sort-down cursor-pointer text-black text-[12px]"
                            onclick="toggleDropdown()"></i>
                    </div>
                </div>
            </div>
    </nav>
    <div class="lg:w-[78%] flex mx-auto  gap-7 pt-2">
        <aside class="w-[18%] bg-white p-1 rounded-lg">
            <nav class="text-[14px] space-y-1">
                <a href="Setting.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">General</a>
                <a href="Provider.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">Providers</a>
                <a href="payment2.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">Payments</a>
                <a href="UserGroup.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">User
                    Groups</a>
                <a href="Currency.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">Currency</a>
                <a href="Notification.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">Notification</a>
                <a href="E-notification.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">E-Notification</a>
                <a href="Ticket.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">Tickets</a>
                <a href="Modules.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">Modules</a>
                <a href="Integration.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-[9px] rounded">Integration</a>
                <a href="SignupSetting.html"
                    class="block text-[#337AB7] hover:bg-[#E7E7E7] hover:text-[#555555] px-4 py-2 rounded">Signup
                    Settings</a>
            </nav>
        </aside>


            <div class="col-md-9 ms-3">
                <main class="p-3">
                    <section class="border rounded p-4 bg-white shadow-sm">
                        <section class="border rounded p-2 bg-gray-300 shadow-sm">
                            <div class="mb-4">
                                <label for="panel-footer" class="form-label fw-bold">Tickets Signature [Max 200
                                    characters]</label>
                                <textarea id="panel-footer" rows="4" class="form-control"></textarea>
                            </div>
                        </section>
                        <section class="border p-2 mt-2 rounded bg-gray-300 shadow-sm">
                            <div class="mb-4">
                                <label for="auto-close" class="form-label fw-bold">Auto Close</label>
                                <select id="auto-close" class="form-select">
                                    <option value="Disable">Disable</option>
                                    <option value="Enable">Enable</option>
                                </select>
                            </div>
                        </section>
                        
                        <div class="mb-4">
                            <label for="ticket-section" class="form-label fw-bold">Ticket Section</label>
                            <select id="ticket-section" class="form-select">
                                <option value="V1">V1</option>
                                <option value="V2">V2</option>
                            </select>
                        </div>
                        <div class="mb-4">
                            <label for="auto-respond" class="form-label fw-bold">Auto Respond</label>
                            <select id="auto-respond" class="form-select">
                                <option value="Disable">Disable</option>
                                <option value="Enable">Enable</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" style="background-color: #286090; font-size: 13px;">Save changes</button>
                    </section>
                </main>
            </div>
        </div>
    </div>
</body>

</html>